// Specific CSS for your home-page
body {
  width: 97%;
  position: absolute;
  margin: 36px;
  padding-bottom: 20px;
  background-color: #E9EAE8;
}
header {
  float: left;
  padding-right: 30px;
}

// LOGO
.link-logo {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  // letter-spacing: 2px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
h1 {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  // letter-spacing: 2px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border-left: 1px solid black !important;
  padding-left: 30px;
  }
 h2 {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  // letter-spacing: 2px;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
   padding-left: 31px;
 }
 h4 {
  font-size: 16px;
  font-weight: bold;
 }
.link-logo:hover {
  border-bottom: 1px solid black;
}
.pic-home {
  float: left;
  margin: 0 30px 0 0;
  width: auto;
}
.no-border {
  border: none !important;
}
// MENU

nav.menu {
  margin: 85px 0 0 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
}
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link-menu {
  text-decoration: none;
  color:black;
  text-transform: capitalize
}
.link-menu:hover {
  border-bottom: 1px solid black;
}
.sous-menu {
  margin-top:85px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}
.sous-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sous-menu ul li {
margin-bottom: 5px;
}
.link-sous-menu {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
}
.link-sous-menu:hover {
  border-bottom: 1px solid black;
}
.top-115 {
  margin-top: 115px !important;
}

// MENU LISTING

.menu-listing {
  float: left;
  width: 280px;
  height: 100%;
  border-left: 1px solid black;
  padding-left: 30px;
}

.menu-listing-home {
  float: left;
  width: 400px;
  height: 100%;
  padding-left: 30px;
}
.year-mini {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  line-height: 22px;
  display: inline;
}

// WORK
.photos img {
  width: 100%;
}
.bloc-work {
  width: 100%;
  position: relative;
  float: left;
  max-width: 600px;
}
.photos {
  margin-top: 77px;
  padding-left: 30px;

}
.description {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: black;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-top: 20px;
  font-weight: 200;
}
.slide {
  display: none;
}

.slide.active {
  display: block;
}

// calendar

.link-calendar{
  text-decoration: none;
  color:black
}
.link-calendar:hover {
  border-bottom: 1px solid black;
}

.mail-contact {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: black;
  text-decoration: none;

}
@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}
	/*Ecrans tablettes (largeur 800px Ã  1000px)*/

  @media screen and (max-width: 800px) {
    body {
      width: 99%;
      margin: 0;
      padding: 3%;
    }
    .link-logo {
      border-bottom: 1px solid black;
    }
    nav.menu {
      margin-top: 10px;
    }
    .menu-listing-home {
      width: 100%;
      height: 100%;
      padding-left: 0 !important;
  }
    .pic-home {
      margin: 0 0 0 0;
      width: 100%;
    }
    .top-115 {
      margin-top: 45px !important;
    }
    .offmobile {
      display: none;
    }
    .menu-listing {
      border-left: 0;
      padding-left: 0;
      margin-top: 10px;
    }
    h1 {
      border-left: 0 !important;
      padding-left: 0 !important;
      margin-top: 20px;
     }
    h2 {
      border-left: 0 !important;
      padding-left: 0 !important;
      margin-top: 0px;
    }
    .sous-menu {
      margin-top: 15px;
    }
    .photos {
      margin-top: 20px;
      padding-left: 0;
    }
    .description {
      padding-left: 0px;
    }

    nav.menu {

      font-size: 18px;
      letter-spacing: 1px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 26px;
    }

  }
