<div class="menu-listing no-border">
  <div class="pic-home top-115">
    <img src='https://res.cloudinary.com/dss64lrxx/image/upload/v1708605999/Maya-Deren-_-Baudouin-Woehl_wduruf.jpg' width="400px">
   </div>
</div>
